body{
    margin: 0px;
    padding: 0px;
}

.search {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 5%;
    width: 50%;
}

.button{
    width: 100px;
    margin-left: 10%;
}

.empty-inputField{
    color: red;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

.no-search-result{
    color: red;
    font-size: 25px;
    font-weight: bold;
    display: none;
}
